body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shell-bottom
{
  display:grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.shell-leftnav
{
  height: 100%;
}

.shell-body
{
  height: 100%;
}

.shell-top
{

}

.shell-leftnav
{
  background-color: #39325F;
  width:100%;
  height: 100%;

}

.left-menu
{
  display:flex;
  flex-direction: column;
  flex-flow: column;
  
  
}

.left-menu-item
{
  flex-basis: auto;
  width: 100px;
  height: 75px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  vertical-align: middleds;
  color: white;
  padding-top: 40px;
}

.question-card{
  border: 1px solid lightgray;
  padding: 10px;
  margin: 20px 0px
}
.question-answer-section
{
  display: flex;
  flex-direction: row;
  
}

.question-answer-cell{
  padding: 5px;
  margin: 2px;
  
}

.card{
  border-color: black;
  display: flex;
  flex-direction: row;
  
}

.card-body{
  
}

.card-header{
    color: rgb(45, 51, 130);
    cursor: pointer;
    vertical-align: middle;
    text-shadow: 1px 1px rgb(125, 3, 165);
    margin-right: 30px;
    order: 3;
    
  
}

.card-name{
  border: 1px green solid;
  padding: 20px;
  width: 100%;
  margin: 1em;
  flex-basis: 20;
  
}